.login-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c3e50;
  text-align: center;
  color: #FFFFFF;
  padding: 3em;

  .img-wrapper {
    border: 3px solid white;
    height: 155px;
    border-radius: 50%;
    width: 173px;
    margin: 0 auto;

    img {
      padding-top: 5px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    color: inherit;
    margin: 20px 0 0 0;
  }
  h5 {
    color: hsla(0,0%,100%,.7);
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 30px 0;
  }

  input.input-underline {
    font-weight: 300;
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid hsla(0,0%,100%,.5);
    color: #fff;

    &:hover, &:focus {
      border-bottom: 2px solid #fff;
      box-shadow: none;
    }
  }

  .btn {
    font-size: 18px;
    font-weight: 300;
    color: hsla(0,0%,100%,.8);
    border: 2px solid hsla(0,0%,100%,.8);
    line-height: 40px;
    padding: 0 25px;
    border-radius: 50px;
    text-transform: none;
    text-align: center;
    transition: color .2s ease-in-out, border .2s ease-in-out;
    margin-top: 30px;

    &:hover {
      color: #fff;
      border: 2px solid #fff;
    }
  }
}
