// https://coolors.co/browser/best/1
$breadcrumbColor: #e8e8e8;
$pageBackgroundColor: #f5f5f5;

.page-header {
  width: 100%;
  //background-color: #4e5d6c;
  min-height: 42px;
  line-height: 42px;
  padding: 8px;
  margin: 0;
}

.page-content {

  font-family: Roboto;

  .centar-content {

    .table-basic, .table-odds {
      display: inline-block;
      padding: 0;
    }

    .table-first-thead {
      background: #f1f5f9;
      color: #56688A;

      tr {
        th {
          font-size: 16px;
        }
      }
    }
    .table-second-thead {

      tr {
        th {
          font-size: 11px;
          font-weight: 700;
        }
      }
    }
  }
}

.ticket-viewer {
  width: 300px;
}

.page-footer {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  color: #ebebeb;
  background-color: #4e5d6c;
  min-height: 50px;
  line-height: 50px;
  bottom: 0;
  position: fixed;
  text-align: center;
}

#payTicketMessages {

  .modal-header, .modal-body, .modal-footer {
    padding: 8px;
  }
}

// TICKET VIEWER

.ticket-viewer, .recomendations {
  .panel-heading, .panel-body, .panel-footer {
    padding: 10px;
  }

  .panel-body {

    .container-fluid {
      padding: 0;
    }

    input {
      max-width: 50px;
      font-size: 13px;
    }

    hr {
      margin: 10px 0;
    }

    .game {
      //padding: 0 0 0 52px;
    }
  }
}