<div class="login-page" style="background:#efefe9;">
    <div class="container">
        <div class="row">
            <div class="img-wrapper">
                <img class="user-avatar" src="app/components/login/polyglot-icon.png"/>
            </div>
            <div class="board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#home" data-toggle="tab" title="welcome">
                                  <span class="round-tabs one">
                                          <i class="glyphicon glyphicon-home"></i>
                                  </span>
                            </a>
                        </li>
                        <li><a href="#profile" data-toggle="tab" title="profile">
                             <span class="round-tabs two">
                                 <i class="glyphicon glyphicon-user"></i>
                             </span>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="alert alert-dismissible alert-warning"
                             [hidden]="!loginMessage">
                            <button type="button" class="close"
                                    (click)="onLoginErrorClick()">&times;</button>
                            <strong>Neuspesno</strong> logovanje. Pokusajte ponovo.
                        </div>
                        <h3 class="head text-center">
                            Dobrodosli <span style="color:#f48260;">♥</span></h3>

                        <form id="loginform" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                                               [(ngModel)]="username">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" id="inputPassword"
                                               placeholder="Password" [(ngModel)]="password">
                                    </div>
                                </div>

                                <div style="margin-top:10px" class="form-group">
                                    <p class="text-center">
                                        <a class="btn btn-success btn-outline-rounded green"
                                           (click)="onLogin()">
                                            uloguj se
                                            <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span>
                                        </a>
                                    </p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="alert alert-dismissible alert-warning"
                             [hidden]="!registerMessage">
                            <button type="button" class="close"
                                    (click)="onRegisterErrorClick()">&times;</button>
                            <strong>Neuspesno</strong> logovanje. Pokusajte ponovo.
                        </div>
                        <h3 class="head text-center">Novi korisnik? Napravite nalog</h3>
                        <form id="signinform" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="signName" placeholder="Name"
                                                       [(ngModel)]="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="signinSurname"
                                                       placeholder="Surname" [(ngModel)]="surname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="signinEmail"
                                                       placeholder="Email" [(ngModel)]="username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <input type="password" class="form-control" id="signinPassword"
                                                       placeholder="Password" [(ngModel)]="password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="margin-top:10px" class="form-group">
                                        <p class="text-center">
                                            <a class="btn btn-success btn-outline-rounded green"
                                               (click)="onRegister()">
                                                napravi nalog
                                                <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>