<section class="panel panel-primary ticket-viewer"
         (mouseenter)="toggleCloseButton()" (mouseleave)="toggleCloseButton()"
         [hidden]="ticketRows.length === 0">
    <header class="panel-heading">
        <span class="panel-title">Ticket</span>
        <a class="close" (click)="cleanTicket()" [hidden]="closeButtonActive">×</a>
    </header>
    <div class="panel-body">
        <div class="container-fluid ticket-container">
            <article *ngFor="let ticketRow of ticketRows" class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="match">{{ticketRow.competitors}}</span>
                            <span class="game">{{ticketRow.subGameShortName}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="pull-right match-odd"><strong>{{ticketRow.odd}}</strong></span>
                </div>
            </article>
        </div>
        <hr/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">ukupna kvota:</div>
                <div class="col-md-2">
                    <span class="pull-right"><strong>{{totalOdd | number: '.2-2'}}</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">broj meceva:</div>
                <div class="col-md-2">
                    <span class="pull-right"><strong>{{ticketRows.length}}</strong></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                data-target="#messageModal" (click)="onPayTicket()">Uplati
        </button>
    </div>
</section>

<message-modal [(modalInfo)]="modalInfo"></message-modal>