.contaner {
    position: fixed;
    top: 26%;
    right: 2%;
    width: 283px;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .contaner {
        position: relative;
        margin: 0 auto;
    }
}