/* line 5, ../scss/main-page.scss */
.page-header {
  width: 100%;
  min-height: 42px;
  line-height: 42px;
  padding: 8px;
  margin: 0;
}

/* line 14, ../scss/main-page.scss */
.page-content {
  font-family: Roboto;
}
/* line 20, ../scss/main-page.scss */
.page-content .centar-content .table-basic, .page-content .centar-content .table-odds {
  display: inline-block;
  padding: 0;
}
/* line 25, ../scss/main-page.scss */
.page-content .centar-content .table-first-thead {
  background: #f1f5f9;
  color: #56688A;
}
/* line 30, ../scss/main-page.scss */
.page-content .centar-content .table-first-thead tr th {
  font-size: 16px;
}
/* line 38, ../scss/main-page.scss */
.page-content .centar-content .table-second-thead tr th {
  font-size: 11px;
  font-weight: 700;
}

/* line 47, ../scss/main-page.scss */
.ticket-viewer {
  width: 300px;
}

/* line 51, ../scss/main-page.scss */
.page-footer {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  color: #ebebeb;
  background-color: #4e5d6c;
  min-height: 50px;
  line-height: 50px;
  bottom: 0;
  position: fixed;
  text-align: center;
}

/* line 66, ../scss/main-page.scss */
#payTicketMessages .modal-header, #payTicketMessages .modal-body, #payTicketMessages .modal-footer {
  padding: 8px;
}

/* line 74, ../scss/main-page.scss */
.ticket-viewer .panel-heading, .ticket-viewer .panel-body, .ticket-viewer .panel-footer, .recomendations .panel-heading, .recomendations .panel-body, .recomendations .panel-footer {
  padding: 10px;
}
/* line 80, ../scss/main-page.scss */
.ticket-viewer .panel-body .container-fluid, .recomendations .panel-body .container-fluid {
  padding: 0;
}
/* line 84, ../scss/main-page.scss */
.ticket-viewer .panel-body input, .recomendations .panel-body input {
  max-width: 50px;
  font-size: 13px;
}
/* line 89, ../scss/main-page.scss */
.ticket-viewer .panel-body hr, .recomendations .panel-body hr {
  margin: 10px 0;
}
