<div class="page-content container-fluid">
    <section class="centar-content col-md-offset-2 col-md-8" [hidden]="userTickets.length === 0">
        <h2> HELLO DASHBOARD</h2>
        <table class="table table-striped table-hover table-bordered table-condensed">
            <thead class="table-first-thead">
            <tr>
                <th class="" colspan="5">{{title}}</th>
            </tr>
            </thead>
            <thead class="table-second-thead">
            <tr>
                <th class="col-md-1">Time</th>
                <th class="col-md-3 text-left">Id</th>
                <th class="col-md-1 text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of userTickets" attr.data-ticket-id="{{ticket.id}}">
                <td class="text-left">{{ticket.time | date: 'dd/MM/yyyy HH:MM'}}</td>
                <td>
                    {{ticket.id}}
                    <table>
                        <tr *ngFor="let row of ticket.rows">
                            <td>{{row.id}}</td>
                            <td>{{row.match.teamHome.name}} - {{row.match.teamVisitor.name}}</td>
                            <td>{{row.subGameShortName}}</td>
                            <td>{{row.status}}</td>
                        </tr>
                    </table>
                </td>
                <td class="text-center">{{ticket.status}}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="center-content col-md-offset-2 col-md-8" [hidden]="userTickets.length !== 0">
        <h3>Nemate odigranih tiketa.</h3>
    </section>
</div>