<div class="page-content container-fluid">
    <section class="centar-content col-md-offset-2 col-md-8" [hidden]="userTickets.length === 0">
        <table class="table table-striped table-hover table-bordered table-condensed">
            <thead class="table-first-thead">
            <tr>
                <th class="text-center" colspan="5"><h4>{{title}}</h4></th>
            </tr>
            </thead>
            <thead class="table-second-thead">
            <tr>
                <th class="col-md-1">Time</th>
                <th class="col-md-3 text-left">Id</th>
                <th class="col-md-1 text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of userTickets" (click)="onToggleTicket($event)">
                <td class="text-left">{{ticket.time | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                <td class="text-left">
                    {{ticket.id}}
                    <table class="table table-striped table-condensed"
                           attr.data-ticket-id="{{ticket.id}}"
                           [hidden]="true"
                    >
                        <tr *ngFor="let row of ticket.rows">
                            <td class="col-md-1">{{row.id}}</td>
                            <td class="col-md-8">{{row.match.teamHome.name}} - {{row.match.teamVisitor.name}}</td>
                            <td class="col-md-1 text-center">{{row.subGameShortName}}</td>
                            <td class="col-md-1 text-left">{{row.status}}</td>
                        </tr>
                    </table>
                </td>
                <td class="text-center">{{ticket.status}}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="center-content col-md-offset-2 col-md-8" [hidden]="userTickets.length !== 0">
        <h3>Nemate odigranih tiketa.</h3>
    </section>
</div>