<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeploma.bettingshop.mapper.MatchTeamsMapper">



    <resultMap id="sportMap" type="com.deeploma.bettingshop.domain.basic.Sport">
       <id property="id" column="sid"/>
   		<result property="name" column="sname"/>    
    </resultMap>
    
    <resultMap id="teamResultMap" type="com.deeploma.bettingshop.domain.basic.Team">
  		<id property="id" column="tid" />
  		<result property="name" column="tname"/>
  		<association property="sport" resultMap="sportMap"/>   		  		 		
	</resultMap>
	
	 <resultMap id="resultResultMap" type="com.deeploma.bettingshop.domain.basic.Result">
  		<id property="id" column="rid" />
  		<result property="homeTeam" column="rhometeam"/>
  		<result property="visitorTeam" column="rvisitorteam"/>
  		<result property="resultType" column="rresulttype"  typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
  		<result property="matchId" column="rmatchid"/>
  		<result property="resultStatus" column="rresultstatus" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
	</resultMap>
	
	<resultMap id="matchMap"  type="com.deeploma.bettingshop.domain.basic.Match" >
	    <id property="id"  column="mid" />
	    <result property="startTime"  column="mstarttime"  javaType="org.joda.time.DateTime" typeHandler="com.deeploma.bettingshop.mapper.thandler.DateTimeTypeHandler"/>
	    <result property="matchStatus" column="mmatchstatus"  typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
	    
	    <association property="competition" resultMap="compResultMap" />
	    <association property="teamHome" resultMap="teamResultMap" columnPrefix="hom_" />
	    <association property="teamVisitor" resultMap="teamResultMap" columnPrefix="vis_" />
	    
	    <collection property="results" ofType="com.deeploma.bettingshop.domain.basic.Result" resultMap="resultResultMap"/>  	    
	</resultMap>
	
	<resultMap id="compResultMap" type="com.deeploma.bettingshop.domain.basic.Competition">
  		<id property="id" column="cid" />
  		<result property="name" column="cname"/>
  		<association property="sport" resultMap="sportMap"/>  		       
    </resultMap>
    

	
	<sql id="selectTeams">
        t.id tid, t.name tname, t.sportid tsportid , s.id sid, s.name sname from teams t, sports s where s.id = t.sportid
    </sql>

    <select id="findAllTeams" resultMap="teamResultMap">
        select <include refid="selectTeams"/>
    </select>
    
    <select id="findAllTeamsBySportId" resultMap="teamResultMap">
        <include refid="selectTeams"/> and s.id = ${sid}
    </select>
    
    <select id="findAllResults" resultMap="resultResultMap">
        select id rid, hometeam rhometeam, visitorteam rvisitorteam ,
        resulttype rresulttype , matchid rmatchid, resultstatus rresultstatus
        from results
    </select>
    
    <sql id= "plainMatchSel">    
    	m.id as mid,
		m.starttime as mstarttime,
		m.hometeamid as mhometeam,
		m.visitorteamid as mvisitorteam,
		m.matchstatus as mmatchstatus,
		th.id as hom_tid,
		th.name as hom_tname,
		tv.id as vis_tid,
		tv.name as vis_tname,
		r.id as rid,
		r.hometeam as rhometeam,
		r.visitorteam as rvisitorteam,
		r.resulttype as rresulttype,
		r.resultstatus as rresultstatus,
		c.id as cid,
		c.name as cname,
		c.sportid as csportid,
		s.id as sid,
		s.name as sname    
    </sql>
    
    <sql id="matchSelectBetOdd">
    	<include refid="plainMatchSel"/>
	from 
		matches m,
		teams th,
		teams tv,
		results r,
		competitions c,
		sports s,
		betodds bo
	where 
		m.hometeamid = th.id
		and m.visitorteamid = tv.id
		and m.competitionid = c.id
		and c.sportid = s.id
		and m.id = r.matchid(+)
		and m.id = bo.matchid
    </sql>
    
    <sql id="matchSelect">
    <include refid="plainMatchSel"/>
	from 
		matches m,
		teams th,
		teams tv,
		results r,
		competitions c,
		sports s
	where 
		m.hometeamid = th.id
		and m.visitorteamid = tv.id
		and m.competitionid = c.id
		and c.sportid = s.id
		and m.id = r.matchid(+) 
    </sql>
    
    <select id="findMatchById" resultMap="matchMap">
	  select  <include refid="matchSelect"/>
	  and m.id = ${mid}   
    </select>
    
     <select id="findMatchByBetOddId" resultMap="matchMap">
	  select  <include refid="matchSelectBetOdd"/>
	  and bo.id = ${boid}   
    </select>
    
    <select id="findAllMatches" resultMap="matchMap">
	  select <include refid="matchSelect"/>   
    </select>
    

    
</mapper>