<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeploma.bettingshop.mapper.OfferMapper">


    <resultMap id="sportMap" type="com.deeploma.bettingshop.domain.basic.Sport">
       <id property="id" column="sid"/>
   		<result property="name" column="sname"/>    
    </resultMap>
    
    <resultMap id="teamResultMap" type="com.deeploma.bettingshop.domain.basic.Team">
  		<id property="id" column="tid" />
  		<result property="name" column="tname"/>
  		<association property="sport" resultMap="sportMap"/>   		  		 		
	</resultMap>
	
	 <resultMap id="oddResultMap" type="com.deeploma.bettingshop.domain.betting.BetOdd">
  		<id property="id" column="oddid" />
  		<result property="value" column="oddvalue"/>
  		<result property="betOddStatus" column="oddbetoddstatus" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
  		<result property="subGame" column="oddsubgameid"  javaType="com.deeploma.bettingshop.domain.betting.SubGame" typeHandler="com.deeploma.bettingshop.mapper.thandler.SubGameTypeHandler"/>   		  		 		
	</resultMap>


	<resultMap id="matchMap" type="com.deeploma.bettingshop.domain.betting.MatchOffer">
		<id property="id" column="mid" />
		<result property="startTime" column="mstarttime" javaType="org.joda.time.DateTime"
			typeHandler="com.deeploma.bettingshop.mapper.thandler.DateTimeTypeHandler" />
		<result property="matchStatus" column="mmatchstatus"
			typeHandler="org.apache.ibatis.type.EnumTypeHandler" />

		<association property="competition" resultMap="compResultMap" />
		<association property="teamHome" resultMap="teamResultMap"
			columnPrefix="hom_" />
		<association property="teamVisitor" resultMap="teamResultMap"
			columnPrefix="vis_" />

		<collection property="odds" ofType="com.deeploma.bettingshop.domain.betting.BetOdd" resultMap="oddResultMap" />
	</resultMap>

	<resultMap id="compResultMap"
		type="com.deeploma.bettingshop.domain.basic.Competition">
		<id property="id" column="cid" />
		<result property="name" column="cname" />
		<association property="sport" resultMap="sportMap" />
	</resultMap>

	<sql id="offer">
		m.id mid,
		m.HOMETEAMID mhometeamid,
		m.VISITORTEAMID mvisitorteamid,
		m.STARTTIME mstarttime,
		m.COMPETITIONID mcompetitionid,
		m.MATCHSTATUS mmatchstatus,
		th.id as hom_tid,
		th.name as hom_tname,
		tv.id as vis_tid,
		tv.name as vis_tname,
		c.id cid,
		c.NAME cname,
		c.sportid csportid,
		s.id sid,
		s.name sname,
		odd.ID oddid,
		odd.MATCHID oddmatchid,
		odd.SUBGAMEID oddsubgameid,
		odd.VALUE oddvalue,
		odd.BETODDSTATUS oddbetoddstatus,
		bsubg.ID bsubgid,
		bsubg.NAME bsubgname,
		bsubg.BETTGAMEID bsubgbettgameid,
		bsubg.SHORT_NAME bsubgshortname,
		bg.ID bgid,
		bg.NAME bgname
		from
		MATCHES m,
		TEAMS th,
		TEAMS tv,
		COMPETITIONS c,
		SPORTS s,
		BETODDS odd,
		BETTINGSUBGAMES bsubg,
		BETTINGGAMES bg
		where
		m.COMPETITIONID = c.id
		and c.SPORTID = s.id
		and m.HOMETEAMID = th.id
		and m.VISITORTEAMID = tv.id
		and odd.MATCHID = m.id
		and odd.SUBGAMEID = bsubg.id
		and bsubg.BETTGAMEID = bg.id
	</sql>

    <select id="getOfferForMatchId" resultMap="matchMap">
	  select<include refid="offer"/>
	  and m.id = ${mid}    
    </select>
    
    <select id="getOffer" resultMap="matchMap">
	  select<include refid="offer"/>
    </select>

    <select id="getOfferForDate" parameterType="org.joda.time.DateTime" resultMap="matchMap">
       <bind name="date" value="new java.sql.Date(date.withTimeAtStartOfDay().getMillis())" />
	  select<include refid="offer"/>  
	  and trunc(m.starttime) = to_date ('${date}', 'yyyy-mm-dd')
    </select>

</mapper>