<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeploma.bettingshop.mapper.ResultMapper">

    
     <insert id="insertResult">
	    <selectKey keyProperty="result.id" resultType="long" order="BEFORE">
		     select SQ_RESULTS_ID.nextval a from dual
	    </selectKey>
		insert into results (ID, RESULTTYPE, HOMETEAM, VISITORTEAM, MATCHID, RESULTSTATUS) values
						   (#{result.id},#{result.resultType,  typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{result.homeTeam}, #{result.visitorTeam}, #{result.matchId}, #{result.visitorTeam})		
	</insert>
	
	<update id="updateResultStatus">
	   update results set
    	resultstatus = #{status}
  	   where id = #{id}		
	</update>
    
    
    
</mapper>