<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeploma.bettingshop.mapper.TicketMapper">

     <insert id="insertTicket">
	    <selectKey keyProperty="ticket.id" resultType="long" order="BEFORE">
		     select SQ_TICKETS_ID.nextval a from dual
	    </selectKey>
		insert into tickets (id, cumulativeodd, time, userid) values
						   (#{ticket.id},#{ticket.cumulativeOdd},#{ticket.time,typeHandler=com.deeploma.bettingshop.mapper.thandler.DateTimeTypeHandler}, #{ticket.userId})		
	</insert>
	
	<insert id="insertTicketRow">
	    <selectKey keyProperty="ticketRow.id" resultType="long" order="BEFORE">
		     select SQ_TICKETROWS_ID.nextval a from dual
	    </selectKey>
		insert into ticketrows (id, ticketid, betoddid, matchid, subgame, odd) values
						   (#{ticketRow.id},#{ticketRow.ticketId},#{ticketRow.betOddId}, #{ticketRow.matchId}, #{ticketRow.subGameShortName}, #{ticketRow.odd})		
	</insert>

 
 
    <resultMap id="ticketResultMap" type="com.deeploma.bettingshop.domain.betting.Ticket">
  		<id property="id" column="tid" />
  		<result property="userId" column="tuserid"/>
  		<result property="ticketStatus" column="tticketstatus" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
  		<result property="cumulativeOdd" column="tcumulativeodd"/> 
  		<result property="time"  column="ttime"  javaType="org.joda.time.DateTime" typeHandler="com.deeploma.bettingshop.mapper.thandler.DateTimeTypeHandler"/>
  		<collection property="ticketRows" ofType="com.deeploma.bettingshop.domain.betting.TicketRow" resultMap="ticketRowResultMap"/> 		       
    </resultMap>
    
    <resultMap id="ticketRowResultMap" type="com.deeploma.bettingshop.domain.betting.TicketRow">
  		<id property="id" column="trid" />
  		<result property="betOddId" column="trbetoddid"	/>
  		<result property="matchId" column="trmatchid"	/>
  		<result property="subGameShortName" column="trsubgame"	/>
  		<result property="odd" column="trodd"	/>
  		<result property="ticketRowStatus" column="trticketrowstatus" typeHandler="org.apache.ibatis.type.EnumTypeHandler"	/>	 	 	       
    </resultMap>
    
    <sql id="commonselect">
      t.id as tid,
	  t.time as ttime,
	  t.userid as tuserid,
	  t.ticketstatus as tticketstatus,
	  t.cumulativeodd as tcumulativeodd,
	  tr.id as trid,
	  tr.betoddid as trbetoddid,
	  tr.matchid as trmatchid,
	  tr.subgame as trsubgame,
	  tr.odd as trodd,
	  tr.ticketrowstatus as trticketrowstatus
	  
    </sql>
 
    
    <select id="findAllTicketsWithMatchIds" resultMap="ticketResultMap">
	  select 
	  <include refid="commonselect"/>	  
	  from tickets t,
	  ticketrows tr	  
	  where t.id = tr.ticketid
	  and  tr.matchid in  
      <foreach item="item" index="index" collection="matchIds" 
        open="(" separator="," close=")">
            #{item}
      </foreach>  
    </select>


	<select id="findAllWinnerTicketsForDate" parameterType="org.joda.time.DateTime" resultMap="ticketResultMap">
	    <bind name="date" value="new java.sql.Date(date.withTimeAtStartOfDay().getMillis())" />
		select t.id as tid,
		<include refid="commonselect"/>
		from
		tickets t,
		ticketrows tr
		where
		t.id = tr.ticketid
		and t.id in (
		select tt.id
		from tickets tt,
		ticketrows ttr,
		matches m
		where tt.id = ttr.ticketid
		and tt.TICKETSTATUS = 'WINNER'
		and m.id = ttr.MATCHID
		and trunc(m.starttime) =  to_date ('${date}', 'yyyy-mm-dd')
		group by tt.id, tt.CUMULATIVEODD
		having round(EXP (SUM (LN (ttr.odd))), 1) = round (tt.cumulativeodd, 1))
	</select>
    
    

     
    <update id="updateTicketRowStatus">
	   update ticketrows set
    	ticketrowstatus = #{status , typeHandler=org.apache.ibatis.type.EnumTypeHandler}
  	   where id = #{id}		
	</update>
	
	<update id="updateTicketStatus">
	   update tickets set
    	ticketstatus = #{status , typeHandler=org.apache.ibatis.type.EnumTypeHandler}
  	   where id = #{id}		
	</update>
    

</mapper>