<table class="table table-striped table-hover table-bordered table-condensed">
    <thead class="table-first-thead">
    <tr>
        <th class="" colspan="5">Football</th>
    </tr>
    </thead>
    <thead class="table-second-thead">
    <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-1 text-left">Time</th>
        <th class="col-md-1 text-center">Home</th>
        <th class="col-md-1 text-center">Visitor</th>
        <th class="col-md-1 text-center">Result</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td class="text-left">11:30</td>
        <td class="text-center">Juventus</td>
        <td class="text-center">Milan</td>
        <td class="text-center">(0:0) 1:1</td>
    </tr>
    <tr>
        <td>2</td>
        <td class="text-left">11:30</td>
        <td class="text-center">Juventus</td>
        <td class="text-center">Milan</td>
        <td class="text-center">(0:0) 1:1</td>
    </tr>
    <tr>
        <td>3</td>
        <td class="text-left">11:30</td>
        <td class="text-center">Juventus</td>
        <td class="text-center">Milan</td>
        <td class="text-center">(0:0) 1:1</td>
    </tr>
    <tr>
        <td>4</td>
        <td class="text-left">11:30</td>
        <td class="text-center">Juventus</td>
        <td class="text-center">Milan</td>
        <td class="text-center">(0:0) 1:1</td>
    </tr>
    <tr>
        <td>5</td>
        <td class="text-left">11:30</td>
        <td class="text-center">Juventus</td>
        <td class="text-center">Milan</td>
        <td class="text-center">(0:0) 1:1</td>
    </tr>
    </tbody>
</table>