<table class="table table-striped table-hover table-bordered table-condensed">
    <thead class="table-first-thead">
    <tr>
        <th class="" colspan="5">{{sportName}}</th>
    </tr>
    </thead>
    <thead class="table-second-thead">
    <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-1 text-left">Time</th>
        <th class="col-md-1 text-center">Home</th>
        <th class="col-md-1 text-center">Visitor</th>
        <th class="col-md-1 text-center">Result</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches" attr.data-match-id="{{match.id}}">
            <td>{{match.startTime | date: 'EEE, dd.MM.yy'}}</td>
            <td class="text-left">{{match.startTime | date: 'HH:mm'}}</td>
            <td class="text-center home">{{match.teamHome.name}}</td>
            <td class="text-center visitor">{{match.teamVisitor.name}}</td>
            <td class="text-center">{{match.results}}</td>
        </tr>
    </tbody>
</table>