/* line 5, ../scss/main-page.scss */
.page-header {
  width: 100%;
  min-height: 42px;
  line-height: 42px;
  padding: 8px;
  margin: 0;
}

/* line 48, ../scss/main-page.scss */
.page-footer {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  color: #ebebeb;
  background-color: #4e5d6c;
  min-height: 50px;
  line-height: 50px;
  bottom: 0;
  text-align: center;
}
