.username {
    margin: 20px 5px;
    color: whitesmoke;
    font-size: 14px;
}

.username > a {
    padding: 0;
}
.username > a.login {
    cursor: pointer;
}

.gravatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.navbar-link.dropdown-toggle {
    padding: 17px 15px;
}

.link {
    font-size: 15px;
}